body {
	height: 100%;
	text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


	overflow-y: hidden;
	overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 2vh;
}

/* Track */
::-webkit-scrollbar-track {
  background: none; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: purple; 
}

.document 
{
	height: 100vh;
	width: 100vw;
	background-color: blue;
}

.header
{
	width: 100%;
	height: 20%;
	background-color: red;
	position: relative;
}

.content
{
	background-color: green;
	width: 100%;
	height: 80%;
}

#creator
{
	width: 100%;
	height: 100%;
	background-color: yellow;
	position: absolute;
	visibility: hidden;
}

#user
{
	width: 80vh;
	height: 100vw;
	background-color: orange;
	position: absolute;
	visibility: hidden;

	overflow-y: auto;
	overflow-x: hidden;
	transform: rotate(-90deg);
	transform-origin: right top;
	transform:rotate(-90deg) translateY(-80vh);
  	top: 1;
  	left: 1;
}

#user > div {
	transform: rotate(90deg) translateY(22vh);
	transform-origin: right top;
	width: 100vh;
	height: 100vw;
}

#cQuestion 
{

}

#cChat
{
	
}

#cDono
{

}

#cAnswer
{

}

#uQuestion
{
	background-color: red;
}

#uChat
{
	background-color: purple;
}

#uDono
{
	background-color: green;
}

#uGame
{
	background-color: blue;
}