body {
	height: 100%;
	text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.document 
{
	height: 100vh;
	width: 100vw;
	background-color: blue;
}

.header
{
	width: 100%;
	height: 20%;
	background-color: red;
	position: relative;
}

.content
{
	background-color: green;
	width: 100%;
	height: 80%;
}

#creator
{
	width: 100%;
	height: 80%;
	background-color: yellow;
	position: absolute;
	visibility: hidden;
}

#user
{
	width: 100%;
	height: 80%;
	background-color: orange;
	position: absolute;
	visibility: hidden;
}